@using System.IO
@{ 
    Page.Title = "Add Robot";
    Layout = "~/_Layout.cshtml";
    int id = 0;
    var fileName = "";
    var fileMime = "";
    var robotName = "";
    var robotDescription = "";
    var videoLink = "";
    if (IsPost) {
        var uploadedFile = Request.Files[0];
        fileName = Path.GetFileName(uploadedFile.FileName);
        if(fileName != String.Empty)
        {
            fileMime = uploadedFile.ContentType;
            if(fileMime.StartsWith("image"))
            {
                var fileStream = uploadedFile.InputStream;
                var fileLength = uploadedFile.ContentLength;
            
                byte[] fileContent = new byte[fileLength];
                fileStream.Read(fileContent, 0, fileLength);
                var db = Database.Open("basicData");
                robotName = Request.Form["robotName"];
                robotDescription = Request.Form["robotDescription"];
                videoLink = Request.Form["videoLink"];
                //var sql = "INSERT INTO FileUploading (FileName, FileContent, MimeType) VALUES (@0,@1,@2)";
                var sql = "INSERT INTO Photos (Photo, MimeType) VALUES (@0, @1)";
                db.Execute(sql, /*fileName, */fileContent, fileMime);
                id = (int)db.GetLastInsertId();
                db.Execute("INSERT INTO Robots (RobotName, RobotText, PhotoID) VALUES (@0,@1,@2)", robotName, robotDescription, id);
                int robotID = (int)db.GetLastInsertId();
                db.Execute("INSERT INTO PhotoReference (RobotID, PhotoID) VALUES (@0,@1)", robotID, id );
                db.Execute("INSERT INTO VideoLinks (RobotId, Link) VALUES (@0,@1)", robotID, videoLink);
                db.Close();
                string url = "~/Robot?id=" + robotID;
                Response.Redirect(url);
            }
        }
    }

}

<div class="col-md-12">
<h1>Add a Robot</h1>
    <form id="robotform" method="post" enctype="multipart/form-data">
    <fieldset>
            <label for="robotName">Name</label>
            <input type="text" id="robotName" name="robotName" value="@robotName" class="form-control">
            <label for="robotDescription">Description</label>
            <textarea onkeyup="textCounter(this, 'counter',4000);" id="robotDescription" name="robotDescription" class="form-control" rows="8">@robotDescription</textarea>
            <input disabled value="4000 characters left" id="counter"><br />
                <script>
                function textCounter(field,field2,maxlimit)
                {
                 var countfield = document.getElementById(field2);
                 if ( field.value.length > maxlimit ) {
                  field.value = field.value.substring( 0, maxlimit );
                  return false;
                 } else {
                  countfield.value = maxlimit - field.value.length + " characters left";
                 }
                }
                </script>
            <label>Image</label>
            <div>
            @FileUpload.GetHtml(
            initialNumberOfFiles:1,
            allowMoreFilesToBeAdded:false,
            includeFormTag:false,
            uploadText: "Upload2",
            name: "Upload2")
            </div>
            <label for="videoLink">Embedded video link</label>
            <input type="text" id="videoLink" name="videoLink" value="@videoLink" class="form-control"> <br/>
            <input type="submit" name="buttonUpload2" value="Submit" class="btn btn-default" />
    </fieldset>
  </form>
</div>
