@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Edit Robots";

    List<Repository.Robot> robots;
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
