@{
    Layout = "/_Layout.cshtml";
    
    Page.Title = "View Robots";
    
    List<Repository.Robot> robots = Repository.getAllRobots();
}

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">Robots</div>

    </div>
</div>