<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link rel="icon" href="favicon.ico">    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="~/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
	    <link href="~/css/mainstyle.css" rel="stylesheet" type="text/css"/>
    </head>
    
    <body>

            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div id="header">
                            <img src="~/Cyberdyne.png" width="120px" alt="cyberdyne" />
                            <span id="title">@App.Name</span>
                        </div>                    
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
        @if(WebSecurity.IsAuthenticated)
        {            
                        @*left entries*@
                        <ul class="nav navbar-nav" id="navLeft">
                            <li><a href="~/Admin/Tools/EditRobots"><span class="glyphicon glyphicon-plus"></span> Edit Robots</a></li>
                            <li><a href="~/Admin/Tools/Manage"><span class="glyphicon glyphicon-user"></span> @WebSecurity.CurrentUserName</a></li> 
                            <li><a href="~/Admin/Tools/Logout?ReturnUrl=~@Request.Url.AbsolutePath"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>                           
                        </ul>

        }
                        @*right entries*@
                        <ul class="nav navbar-nav navbar-right" id="navRight">
                            <li><a href="~/Default">Home</a></li>
                            <li><a href="~/Gallery">Gallery</a></li>
                            <li><a href="~/About">About</a></li>
                        </ul>                         
                    </div>
                </div>
            </nav>
        </div>        
        <div class="container col-md-12">
            @RenderBody()
        </div>
        <div id ="footer">
            <div class="left">
                <h3>Links</h3>
                <ul>
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Lorem Ipsum</a></li>
                </ul>
            </div>
            <div class="right">
                <h3>Contact</h3>
                Lorem Ipsum <br />
                Lorem Ipsum <br />
                Lorem Ipsum
            </div>
        </div>   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>
