<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link rel="icon" href="favicon.ico">    
        <link href="~/css/bootstrap.css" rel="stylesheet">
        <link href="~/css/bootstrap-theme.css" rel="stylesheet">
	    <link href="~/css/mainstyle.css" rel="stylesheet"/>
    </head>
    
    <body>
        @if(Page.Title != null)
        {
            <h1>@Page.Title</h1>
        }
        @if(Page.Description != null)
        {
            <h4>@Page.Description</h4>
        }
        @RenderBody()   
    </body>
</html>
