@{
    Page.Title= "About";
    Layout = "~/_Layout.cshtml";
    List<string> textElements = new List<string> {Repository.getTextElement(2), Repository.getTextElement(3), Repository.getTextElement(4)};
}
    <div class="col-md-6">
      <div>
        <h2>About Me</h2>
        <p> @textElements[0]
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h2>About Foppele Inc.</h2>
        <p> @textElements[1]
        </p>
        <h2>Contact</h2>
        <p> @textElements[2] 
        </p>
      </div>
    </div>