@{
    Page.Title= "Home";
    Layout = "~/_Layout.cshtml";
    var db = Database.Open("basicData");
    List<Repository.Robot> robots = Repository.getLastRobots();
    var intro = Repository.getTextElement(1);
}
<div id="introduction" class="col-md-12">
    <div class="col-md-8">
        <h1>Introduction</h1>
        <p> @Html.Raw(intro.Replace("\n","<br />"))
        </p>
    </div>
</div>
@if (robots.Count() != 0){
<div class="col-md-12" id="latest">
    <h1>Latest Additions</h1>
    @foreach (Repository.Robot robot in robots)
    {
    <div class="col-md-6">
        <div class="gallery homeGallery" style="background-image: url(@robot.CoverImage)"><a href="~/Robot?Id=@robot.RobotId">
        <h2>@robot.RobotName</h2> </a></div>
        <p>@Html.Raw(robot.RobotText.Replace("\n","<br />"))</p>
    </div>
    }
</div>
}