@{
    Page.Title= "Home";
    Layout = "~/_Layout.cshtml";

    var mainPhoto = "";
    var robotName = "";

    List<Repository.Robot> robots = Repository.getAllRobots();

}
  <h1>Gallery</h1>
@foreach(Repository.Robot robot in robots)
    {
        robotName = robot.RobotName;
        mainPhoto = robot.CoverImage;
        <div class="col-md-4">
            <p>@robotName</p>
            <img src="@mainPhoto" alt="photo" width="250px" height="250px" />
        </div>
    }
  