@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Gallery";

    int count = 0;
    int rows = 0;
    List<Repository.Robot> robots = Repository.getAllRobots();
    
    if(robots.Count > 0)
    {
        rows = robots.Count / 3;
        if(robots.Count % 3 > 0) 
        {
            rows++;
        }
    }
    
}

@for(int i = 0; i < rows; i++)
{
    <div class="row">
    @for(int j = 0; j < 3; j++)
    {
        if(count < robots.Count)
        {
            <div class="col-md-4">
                <div class="gallery" style="background-image: url(@robots[count].CoverImage)"><a href="~/Robot?Id=@robots[count].RobotId">
                    @*<img src="@robots[count].CoverImage" alt="photo" width="auto" height="20%"/> *@
                    <h2 class="auto">@robots[count].RobotName </h2>
                </a></div>
            </div>
        }
        count++;
    }    
    </div>
}
