@{
    Page.Title= "Home";
    Layout = "~/_Layout.cshtml";

    var robotId = "";
    var robotName = "";
    var mainPhotoId = "";
    var robotText = "";
    List<int> photoIds;
    List<string> codeLinks;
    List<string> codeSnippets;

    if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()) {
        robotId = Request.QueryString["ID"];

        Repository.Robot tempRobot = Repository.getRobot(robotId);
        if (tempRobot != null)
        {
            robotName = tempRobot.RobotName;
            mainPhotoId = tempRobot.CoverImage;
            robotText = tempRobot.RobotText;
            photoIds = tempRobot.getPhotos();
            codeLinks = tempRobot.getCodeLinks();
            codeSnippets = tempRobot.getCodeSnippets();
        }
        else
        {
            Validation.AddFormError("BEEP BOOP. Robot is lost.");
            // If you are using a version of ASP.NET Web Pages 2 that's
            // earlier than the RC release, comment out the preceding
            // statement and uncomment the following one.
            //ModelState.AddFormError("No movie was selected.");
        }
    }
    else{
        Validation.AddFormError("BEEP BOOP. Robot is lost.");
        // If you are using a version of ASP.NET Web Pages 2 that's
        // earlier than the RC release, comment out the preceding
        // statement and uncomment the following one.
        //ModelState.AddFormError("No movie was selected.");
    }
}

@if (!robotName.IsEmpty()){<h2>This is a @robotName</h2>}
else {<h2>@Html.ValidationSummary()</h2>}
@foreach (var row in db.Query(selectQueryString)){}
<form method="post">
<fieldset>
    <input type="hidden" name="robotId" value="@robotId" />
</fieldset>
</form>
<p><a href="~/Default">Return</a></p>

