@{
    Layout = "_Layout.cshtml";

    Page.Title = "Change Settings";

    if(IsPost && Request.Form["submitSettings"] != null)
    {
        AntiForgery.Validate();
        var inputFont = Request.Form["fonts"];
        var inputBackground = Request.Form["background"];
        if(Validation.IsValid())
        {
            Repository.createCookie("UserSettings", "Font", inputFont, 4d);
            Repository.createCookie("UserSettings", "Background", inputBackground, 4d);
            Response.Redirect(Request.Url.AbsoluteUri);
        }
    }
}

<div class="col-md-12">
        <form method="post">
            @AntiForgery.GetHtml()
            <div class="col-md-6">
                <label>Set Your font</label>
                <select name="fonts" style="color: #000;margin-bottom: 10px; font-family: Arial" class="form-control">
                    <option value="Arial" style="font-family: Arial">Arial</option>
                    <option value="'Bangers'" style="font-family: 'Bangers'">Bangers</option>
                    <option value="'Ubuntu'" style="font-family: 'Ubuntu'">Ubuntu</option>
                    <option value="'Audiowide'" style="font-family: 'Audiowide'">Audiowide</option>
                    <option value="'Rock Salt'" style="font-family: 'Rock Salt'">Rock Salt</option>
                    <option value="cursive" style="font-family: cursive">Cursive</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Set Your Background</label>
                <select name="background" style="color: #000" class="form-control">
                    <option value="default">Default</option>
                    <option value="amazing">Amazing</option>
                    <option value="fabulousPink">Fabulous Pink</option>
                    <option value="yellow">Fuggly Yellow</option>
                </select>
            </div>
            <div class="col-md-12">
                <button type="submit" name="submitSettings" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span> Apply
                </button>
            </div>
        </form>
</div>