body{
    padding: 10px;
}

#header, .container , #footer {  
    display: block;  
    width:  90%;
    padding: 10px;
    margin: auto;
    border:  2px solid black;
}

#footer {
    overflow: hidden;
}

.container > div{
    border:  1px solid grey;
}

.left {
    float: left;
}

.right {
    float:  right;
}