body {
    background-image: url('../Cyberdyne background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#header, .container , #footer {  
    display: block;  
    padding: 10px;  
}
    
#header p {
    color: white;
}

#header {
margin-bottom: 5px;
}

#footer {
    overflow: hidden;
    background-color: #292929;
    color:  white;
}

.container {
    margin-top: -20px;
    min-height: 450px;
}

.container .col-md-12, .col-md-6 div {
    border-radius:  10px;
    border: 2px solid #292929;
    margin-bottom: 10px;
    background-color: rgba(0,0,80,0.5);
    color:  white;
}

.left {
    float: left;
}

.right {
    float:  right;
}

span#title{
    color:  white;
    font-size: 40px;
}

@media screen and (min-width:768px)
{
    #myNavbar {
        position: relative;
    }

    #myNavbar .nav{
        position: absolute; 
        bottom: 0;   
    }

    #myNavbar #navLeft {
    left:  120px;
    }
    #myNavbar #navRight {
    right:  0;
    }
}
.navbar #navRight {
    margin-right: -11px;
}
.navbar #navRight > li {
    background-color: #bc1111;
    font-size: 20px; 
    border-top-left-radius: 5px;
    border-left: 2px outset #9D9D9D;
    border-top:  2px outset #9D9D9D;
    margin-right: -4px;
    padding: 3px
}

.navbar #navRight > li > a {
    color: #9D9D9D;
}

.navbar #navRight > li > a:hover {
    color: white;
}

.gallery a:hover{
    text-decoration: none;
    text-decoration-color: none;
}

.gallery h2 {
    text-align: center;
    font-size:  40px;
    color: white;
    padding-top: 90%;
    background: linear-gradient(rgba(9,0,0,0),rgba(9,0,0,0.9));
    
}

.gallery {
    background-repeat: no-repeat;
    border:  solid, black, 20px;
    background-size: 100%, auto;
}

.col-md-6 {
    padding: 5px;
}

@media screen and (max-width: 470px) {
    .gallery h2 {
    font-size: 30px;
}
}

@media screen and (min-width: 470px) and (max-width: 991px) {
    .gallery {
    background-size: 350px, auto;
    background-position-x:  center;
}
    .gallery h2 {
    padding-top: 320px;
}
}
